html {
    background-color: beige;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

body {
    display: block;
    min-width: 300px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: beige;
    z-index: 1;
}

header nav {
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

nav li {
    display: inline-block;
    padding: 10px;
}

ul {
    padding-inline: 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

section .banner {
    margin: 100px 0 0 0;
    text-align: center;
}

article {
    text-align: center;
    margin: 10px 0;
}

article p {
    margin: 10px;
}

article button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: beige;
    border-width: 1px;
    padding: 10px;
}

.addevent {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.image-container {
    text-align: center;
    width: 100%;
}

img {
    margin: 10px 0 50px 0;
    max-width: 500px;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: beige;
    z-index: 1;
}

footer p {
    margin: 20px;
}

@media  screen and (max-width: 500px) {
    html {
        font-size: 0.9em;
    }
    img {
        width: 100%;
    }
}

